@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Mukta', sans-serif;
    margin:0;
}

a{
    font-size:1rem;
    color:#000;
    text-decoration: none;
}
a:hover{


}
#header__wrapper {   
    background:url("../images/bg2.jpg");
    background-size: cover;
    background-color:#60b9c7;
    color:#fff;
    height:500px;
    overflow:hidden;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.overlay{
    background: rgb(27 44 64 / 72%);
    overflow: hidden;
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    /* margin-right: auto;
    margin-left: auto; */

}

.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.logo_wrapper {}
#menu_wrapper{
    box-shadow: 0px 15px 10px -15px #111;

}
.navigation__bar{

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        flex-direction: row;

}
.navigation{
    font-family: 'Mukta', sans-serif;

}
.navigation ul{
    list-style:none;
    display:flex;
}
.navigation ul li{
    padding: 7px 15px;
    
}
.navigation ul li a{
    font-size:1.15rem;
    font-weight:500;
    color: #057b66;
}
.logo {}


/* buttotn */
.btn{
    padding:10px 25px;
    background:#057b66;
    color:#fff;
    border:none;
    border-radius:50px;
    font-size:1.015rem;
    font-weight: 300;
    cursor: pointer;
}
.btn__login,.btn__signup{
    padding:7px 10px;
    background:#057b66;
}
#hero__banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
}
.hero__wrapper{
    padding:75px 0;
}

.job__serach input {
    padding: 15px 10px;
    width: 40rem;
    border-radius: 45px;
    border: none;
    text-align: center;
    font-size: 1.13rem;
}
.job__serach input:hover{
    outline:none;
}
.job__serach .search__icon {
    position: relative;
    right: 100px;
    color: #0000008a;
    cursor: pointer;
}

.quotes{
    display: flex;
    font-size: 0.9rem;
    padding-right: 70px;
    font-style: initial;
    color: #ffffff59;
}


.jp__1324__wrapper,
.jp__city__wrapper
 {
    padding: 75px 60px;
}
.job__1324{
    display: flex;
    padding:25px 0;
}

.job__1324 .jp__info_img {
    padding: 5px;
    border: 2px solid #057b6647;
    border-radius: 15px;
}
.job__1324 .jp_info_1 {
    margin-right: 60px;
}
.job__1324 .jp__info_img img {
    border-radius: 15px;
}
.jp__info__title {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.2rem;
    text-transform: capitalize;
}
.jp__info_h1{
    color:#057b66;
}
.jp__info__desc {
    color: #057b65ae;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-top: 15px;
}
.jp_info_1 .register__now{
    padding-top:25px;
}

.trending__job__wrapper{
    padding:35px 150px;
    background: rgba(0, 0, 0, 0.039);

}
.trending__job {
    padding-bottom: 35px;
}
.trendingjob__title{
    font-size: 2rem;
    text-align: center;
    color:#057b66;
}
.trendingjob__list__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap:30px;
    column-gap:30px;

}
.trendingjob__card {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px -2px rgb(0 0 0 / 28%);
}
.trendingjob__card:hover{
    background-color: #fff;
    transition: all ease 0.3s;
    cursor: pointer;
}
.trendcat__info h3{
font-size: 1.2rem;
font-weight: 500;

}
.trend__total{
    font-size: 0.9rem;
    font-weight: 400;
}


.jp__city__wrapper{
    padding:5px;
}
.jp__citycards {
    padding: 0 150px;
}
.jp__citylist {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    /* row-gap: 30px; */
    column-gap: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.jp__heading{
    font-size: 2.4rem;
    text-align: center;
}
.jp__cityinfo .city__image{

}

.jp__cityinfo .city__image img{
    height:150px;
    width:200px;
}
.jp__cityname h3{
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.other__city{
    text-align: center;
    font-size: 1.4rem;
}
.city__more{
    color:#057b66;
}
/* 
#job__wrapper{}

.hot__jobs{}
.hotjob__image{
    width:100px;
    height:75px;
}
.hotjob__image img{
    width:100%;
    height:100%;
}
.hotjob__desc{

} */



#register__wrapper,
#login__wrapper{
    padding:25px 0;

}

.register__wrapper1232{

}

.register__container,
.login__container{
    display:flex;
    padding: 10px 90px;
}

.register__leftwrapper,
.login__leftwrapper{
    background: url(../images/onlaptop.jpg);
    background-size: cover;
    background-color: #60b9c7dc;
    color: #fff;
    width: 600px;
    overflow: hidden;
}

.__left__container{
    padding:30px 45px;
}

.__left__overlay{
    background: rgb(27 44 64 / 72%);
    overflow: hidden;
    height: 100%;
}


.__right__container{
    padding: 15px 45px;
}
.register__info,
.login__info{
    margin-bottom:15px; 
}
.register__form .form-group input,
.login__form .form-group input{
    outline:none;
    padding:7px 10px;
    border-radius:7px;
    border:1px solid rgba(0, 0, 0, 0.437);
    font-size:1rem;
    width:400px;
}

.register__form .form-group,
.login__form .form-group{
    padding-bottom:15px;
}

.about__wrapper,
.contact__wrapper
{
    padding:10px 150px;
}
.about__container,
.contact__container{
    padding:15px 0;
    display: flex;
}
.__about__info__left{
    width:800px;
}
.__about__info__right{
    padding:10px 15px;
}
.about__head,
.contact__head
{
    background:url('https://media.istockphoto.com/photos/patan-picture-id637696304?k=20&m=637696304&s=612x612&w=0&h=GqmMtggU2LgHWcXPFNxMrZg9dtPzyrnl9ek5oARcI7Y=');
    background-size:cover;
    background-repeat: none;
    background-color: #60b9c7;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.__about__desc{
    text-align: justify;
    font-size: 1.15rem;
    line-height: 1.2rem;
    color:#057b66;
}
.__job_signin_signup{
    padding:15px;
    background:#057b6511;
    text-align: center;
}
.__text{
    font-size: 1.15rem;
    font-weight: 400;
    margin-right: 15px;
}


footer{
    background-color:#15357a;
    color:#fff;
}
#footer__wrapper{

}
#footer__wrapper ul{
    margin:0;
    padding:0;  
}
#footer__wrapper li{
    list-style:none;
}
#footer__wrapper a{
    color:#ffffffb8;
}
#footer__wrapper .info__wrapper li a:hover{
    transition: ease 0.3s all;
    color:#fff;
}
.footer__main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.info__wrapper{}
.footer_contactInfo{}
.footer_contactInfo ul{
    list-style:none;
    margin:0;
    padding:0;
}
.footer_contactInfo .social_icons{
    list-style:none;
    display:flex;
}
.social_icons li{
    padding-left:10px;
    font-size:1.5rem;
    cursor:pointer;
}


.footer__bottom{
    background: #0000001f;
    color: #ffff00;
    padding: 0 70px;
}
.footer__bottom__wrapper,.sub__footer_link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transform: 0.4s smooth;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }